<form
  class="item-form"
  [formGroup]="itemForm"
  (ngSubmit)="onSubmit()"
>
  <div class="form-grid">
    <div class="form-field">
      <label for="type">Type</label>

      <select id="type" formControlName="type" (change)="onTypeChange()">
        <option value="" disabled>Choose a type</option>
        <option value="product">Product</option>
        <option value="service">Service</option>
      </select>

      <small
      class="error-text"
      *ngIf="
        itemForm.controls.type.hasError('required') &&
        itemForm.controls.type.touched
      "
    >
      This field is required.
    </small>

    </div>

    <div class="form-field">
      <label for="code">Code</label>

      <input
        id="code"
        type="text"
        formControlName="code_number"
        placeholder="ITM-004"
      />

      <small
      class="error-text"
      *ngIf="
        itemForm.controls.code_number.hasError('required') &&
        itemForm.controls.code_number.touched
      "
    >
      This field is required.
    </small>
    </div>

    <div class="form-field form-field-name">
      <label for="name">Name</label>

      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="Washer, M8"
      />

      <small
      class="error-text"
      *ngIf="
        itemForm.controls.name.hasError('required') &&
        itemForm.controls.name.touched
      "
    >
      This field is required.
    </small>

    </div>

    <div class="form-field">
      <label for="price">Price</label>

      <input
        id="price"
        type="number"
        step="0.01"
        formControlName="price"
        placeholder="1.20"
      />

      <small
      class="error-text"
      *ngIf="
        itemForm.controls.price.hasError('required') &&
        itemForm.controls.price.touched
      "
    >
      This field is required.
    </small>

    <small
      class="error-text"
      *ngIf="
        itemForm.controls.price.hasError('min') &&
        itemForm.controls.price.dirty
      "
    >
      Price must be greater than 0.
    </small>
    </div>

    <div
      class="form-field"
      *ngIf="itemForm.controls.type.value === 'product'"
    >
      <label for="weight">Weight (kg)</label>

      <input
        id="weight"
        type="number"
        step="0.01"
        formControlName="weightKg"
        placeholder="0.01"
      />

      <small
      class="error-text"
      *ngIf="
        itemForm.controls.weightKg.hasError('required') &&
        itemForm.controls.weightKg.touched
      "
    >
      This field is required.
    </small>

    <small
    class="error-text"
    *ngIf="
      itemForm.controls.weightKg.hasError('min') &&
      itemForm.controls.weightKg.dirty
    "
  >
    Weight must be greater than 0.
  </small>

    </div>

    <div
      class="form-field"
      *ngIf="itemForm.controls.type.value === 'service'"
    >
      <label for="duration">Duration (h)</label>

      <input
        id="duration"
        type="number"
        step="1"
        formControlName="durationHours"
        placeholder="2"
      />

      <small
      class="error-text"
      *ngIf="
        itemForm.controls.durationHours.hasError('required') &&
        itemForm.controls.durationHours.touched
      "
    >
      This field is required.
    </small>

    <small
    class="error-text"
    *ngIf="
      itemForm.controls.durationHours.hasError('min') &&
      itemForm.controls.durationHours.dirty
    "
  >
    Duration must be greater than 0.
  </small>
     
    </div>
  </div>

  

  <button class="add-button"
  type="submit"
    >
  <span class="plus-icon">+</span>
  Add item
</button>
</form>